node_modules
vendor
.git
.gitignore
.env
.env.backup
.phpunit.result.cache
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
*.sql
public/hot
public/storage
public/build

